@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add some basic styling to make the timer and stopwatch look decent */

.h-screen {
  height: 100vh;
}

.text-4xl {
  font-size: 2rem;
}

.font-bold {
  font-weight: bold;
}

.mb-4 {
  margin-bottom: 1rem;
}

.ml-4{
  margin-left: 1rem;
}

.bg-orange-500 {
  background-color: #ffa07a;
}

.bg-red-500 {
  background-color: #ff69b4;
}

.bg-blue-500 {
  background-color: #87ceeb;
}

.hover\:bg-orange-700:hover {
  background-color: #ff9900;
}

.hover\:bg-red-700:hover {
  background-color: #ff3737;
}

.hover\:bg-blue-700:hover {
  background-color: #4682b4;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.rounded {
  border-radius: 0.25rem;
}